*
!*/

!upstream/**

!libigl-*/igl
!libigl-core-tests/data
!libigl-core-tests/header-only/igl
!libigl-core-tests/precompiled/igl
!libigl-tutorials/data

!libigl-core/tests/cube.off

!*.h
!*.c
!*.hpp
!*.cpp
!*.in

!.build2/**
!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest
!*testscript

!*.md
!LICENSE*

!.git*

