[submodule "upstream/libigl"]
	path = upstream/libigl
	url = https://github.com/libigl/libigl.git
[submodule "upstream/libigl-tests-data"]
	path = upstream/libigl-tests-data
	url = https://github.com/libigl/libigl-tests-data.git
